 body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.navbar-brand{
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
}

ul{
    background-color: white;
}
li.nav-item{
    border: 1px solid black;
    color: black;
}
h2{
    margin-top: 15px;
    font-weight: bolder;
}
p{
    height: 1000px;
    padding-right: 10px;
    padding-left: 10px;
}
#chicken-description{
    background-color: darkgray;
    margin: auto;
    padding-top: 10px;
    margin-top: 25px;
}
.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: black;
}
.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    background-color: darkgray;
}
h3{
    font-size: 1.25em;
    font-weight: bold;
}